body {
  font-family: sans-serif;
  width: 960px;
  margin: 0 auto;
  color: #333;
}

h1 {
  font-weight: normal;
}

#intro {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 5px 0 5px 0;
  margin: 20px 0 30px 0;
}

a {
  color: inherit;
}

h2 {
  font-weight: normal;
  font-size: 12px;
  color: #666;
  background: #F8F8F8;
  border: solid #EEE;
  border-width: 1px 1px 0 1px;
  display: inline-block;
  padding: 10px;
  margin: 0;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
}

pre {
  margin: 0 0 20px 0;
}

textarea, code {
  border: 1px solid #EEE;
}

#error {
  font-size: 12px;
  color: #C62828;
}

footer {
  width: 960px;
  padding-top: 20px;
  border-top: 1px solid #EEE;
  color: #999;
}

/* http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* bottom = footer height */
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px;
}

/* https://davidwalsh.name/flexbox-column */
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
}

.flexbox-container > div:first-child {
  padding-right: 10px;
}

.flexbox-container > div:last-child {
  padding-left: 10px;
}
